.section {
    height: calc(100vh - 60px);
    padding: 0 !important;
}

/*HERO STYLES*/

.title {
    font-family: "Antonio";
    text-transform: uppercase;
    font-size: 21em;
    line-height: 1;
    padding-left: 5%;
}

.subtitle {
    text-align: right;
    font-family: "Alata";
    font-size: 1.3em;
    line-height: 1;
}

/*PROJECTS STYLE*/

.ProjectTitle {
    font-family: "Alata";
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 2% 0 !important;
}
