/*THEME CONTEXT*/

.darkMode {
    background-color: black;
    height: 100vh;
    color: white !important;
    border: white !important;
}

.darkMode .btn {
    border-color: white;
}

.lightMode {
    background-color: white;
    color: black !important;
    border: black !important;
}

/*NAVBAR AND FOOTER STYLES*/

.nav {
    height: 60px;
    border-bottom: 2px solid;
    padding-top: 0.5%;
}

.text {
    margin: 0;
    font-family: "Alata";
    text-transform: uppercase;
}

.footer {
    height: 60px;
    border-top: 2px solid;
    padding-top: 1%;
    padding-bottom: 1%;
}

.btn {
    background-color: transparent;
    padding: 1% 2%;
    border-radius: 20px;
    border: 2px solid;
    width: 18%;
    font-size: 1.1em;
}